In [1]:
import numpy as np
import pandas as pd

In [2]:
passwords = pd.read_csv("passwords.csv")
passwords.head()

,rank,password,category,value,time_unit,offline_crack_sec,rank_alt,strength,font_size
0,1.0,password,password-related,6.91,years,2.170000e+00,1.0,8.0,11.0
1,2.0,123456,simple-alphanumeric,18.52,minutes,1.110000e-05,2.0,4.0,8.0
2,3.0,12345678,simple-alphanumeric,1.29,days,1.110000e-03,3.0,4.0,8.0
3,4.0,1234,simple-alphanumeric,11.11,seconds,1.110000e-07,4.0,4.0,8.0
4,5.0,qwerty,simple-alphanumeric,3.72,days,3.210000e-03,5.0,8.0,11.0

In [3]:
passwords.corr()

,rank,value,offline_crack_sec,rank_alt,strength,font_size
rank,1.000000,0.038880,0.044478,0.999998,0.046619,0.032310
value,0.038880,1.000000,0.912406,0.038882,0.326875,0.148389
offline_crack_sec,0.044478,0.912406,1.000000,0.044481,0.459596,0.344939
rank_alt,0.999998,0.038882,0.044481,1.000000,0.046636,0.032290
strength,0.046619,0.326875,0.459596,0.046636,1.000000,0.884827
font_size,0.032310,0.148389,0.344939,0.032290,0.884827,1.000000

In [4]:
pd.get_dummies(passwords, columns=['category'])

,rank,password,value,time_unit,offline_crack_sec,rank_alt,strength,font_size,category_animal,category_cool-macho,category_fluffy,category_food,category_name,category_nerdy-pop,category_password-related,category_rebellious-rude,category_simple-alphanumeric,category_sport
0,1.0,password,6.91,years,2.170000e+00,1.0,8.0,11.0,0,0,0,0,0,0,1,0,0,0
1,2.0,123456,18.52,minutes,1.110000e-05,2.0,4.0,8.0,0,0,0,0,0,0,0,0,1,0
2,3.0,12345678,1.29,days,1.110000e-03,3.0,4.0,8.0,0,0,0,0,0,0,0,0,1,0
3,4.0,1234,11.11,seconds,1.110000e-07,4.0,4.0,8.0,0,0,0,0,0,0,0,0,1,0
4,5.0,qwerty,3.72,days,3.210000e-03,5.0,8.0,11.0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0
503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0
504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0
505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0
506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0

In [5]:
passwords.isnull()

,rank,password,category,value,time_unit,offline_crack_sec,rank_alt,strength,font_size
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
502,True,True,True,True,True,True,True,True,True
503,True,True,True,True,True,True,True,True,True
504,True,True,True,True,True,True,True,True,True
505,True,True,True,True,True,True,True,True,True
506,True,True,True,True,True,True,True,True,True

In [6]:
passwords.dropna(inplace=True)

In [7]:
passwords

,rank,password,category,value,time_unit,offline_crack_sec,rank_alt,strength,font_size
0,1.0,password,password-related,6.91,years,2.170000e+00,1.0,8.0,11.0
1,2.0,123456,simple-alphanumeric,18.52,minutes,1.110000e-05,2.0,4.0,8.0
2,3.0,12345678,simple-alphanumeric,1.29,days,1.110000e-03,3.0,4.0,8.0
3,4.0,1234,simple-alphanumeric,11.11,seconds,1.110000e-07,4.0,4.0,8.0
4,5.0,qwerty,simple-alphanumeric,3.72,days,3.210000e-03,5.0,8.0,11.0
...,...,...,...,...,...,...,...,...,...
495,496.0,reddog,cool-macho,3.72,days,3.210000e-03,498.0,6.0,10.0
496,497.0,alexande,name,6.91,years,2.170000e+00,499.0,9.0,12.0
497,498.0,college,nerdy-pop,3.19,months,8.350000e-02,500.0,7.0,11.0
498,499.0,jester,name,3.72,days,3.210000e-03,501.0,7.0,11.0
499,500.0,passw0rd,password-related,92.27,years,2.902000e+01,502.0,28.0,21.0

In [8]:
print(passwords.corr())

X = passwords.drop(['strength', 'category', 'time_unit','password'], axis=1)
y = passwords[['strength']]

                       rank     value  offline_crack_sec  rank_alt  strength  \
rank               1.000000  0.038880           0.044478  0.999998  0.046619
value              0.038880  1.000000           0.912406  0.038882  0.326875
offline_crack_sec  0.044478  0.912406           1.000000  0.044481  0.459596
rank_alt           0.999998  0.038882           0.044481  1.000000  0.046636
strength           0.046619  0.326875           0.459596  0.046636  1.000000
font_size          0.032310  0.148389           0.344939  0.032290  0.884827

                   font_size
rank                0.032310
value               0.148389
offline_crack_sec   0.344939
rank_alt            0.032290
strength            0.884827
font_size           1.000000

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [11]:
print(X_train.shape)
print(X_test.shape)

(400, 5)
(100, 5)

In [12]:
print(y_train.shape)
print(y_test.shape)

(400, 1)
(100, 1)

In [13]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet

In [14]:
reg = LinearRegression()
rid = Ridge()
Las = Lasso()
en = ElasticNet()

In [15]:
reg.fit(X_train, y_train)
rid.fit(X_train, y_train)
Las.fit(X_train, y_train)
en.fit(X_train, y_train)

ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)

In [16]:
reg.coef_

array([[-0.25123299,  0.19572832, -0.30823337,  0.25072233,  1.24803204]])

In [17]:
reg.predict(X_test)
reg.score(X_test, y_test)

0.8602892161392981

In [18]:
rid.score(X_test, y_test)

0.8602196631191275

In [19]:
Las.score(X_test, y_test)

0.8347439178039368

In [20]:
en.score(X_test, y_test)

0.8360719111495615